@use "../base";

.main__container {
    justify-content: center;
    align-items: center;
    padding: 2rem 20px;
    gap: 40px;
    max-width: 60rem;
}

.container_gap {
    gap: 20px;
    align-items: start;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text {
    max-width: 90%;
}

.btn_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.btn {
    flex: 1 1 0%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 100%;
    padding: 8px 0;
}

.btn_primary {
    background-color: white;
    color: black;
}

.btn_bordered {
    border: 2px solid white;
}

@media screen and (min-width: 640px) {
    .title {
        font-size: 3.4rem;
        font-weight: bold;
        line-height: 5rem;
    }

    .subtitle {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .btn_container {
        flex-direction: row;
        gap: 8px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .main__container {
        padding: 3rem 20px;
    }

    .container_gap {
        gap: 20px;
        align-items: center;
    }

    .title {
        font-size: 4rem;
        text-align: center;
    }

    .subtitle {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .text {
        text-align: center;
        padding: 0 10%;
    }

    .btn_container {
        width: 80%;
    }

    .btn {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .main__container {
        padding: 6rem 20px;
    }

    .title {
        font-size: 5rem;
    }
}