@use '../base';

.block_element__modifier

.main__container{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    max-width: 48rem;
    gap: 40px;
}