$main-color: rgb(28 13 93);
$complementary-color: rgb(221, 115, 115, 1);

.commonButton {
    text-align: center;
}

.container_column {
    display: flex;
    flex-direction: column;
    align-items: center;

}