@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .tail_container {
        transform: perspective(1000px);
        transform-style: preserve-3d;
        border-color: transparent;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .tail_container::before {
        content: '';
        position: absolute;
        inset: -0.01%;
        backdrop-filter: blur(5px);
    }

    .tail_cont {
        transform: translateZ(50px);

    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

    }

    .title {
        background: radial-gradient(circle, #2C1B71, #81329C, #483690, rgb(221 115 115), #353DA6);
        background-size: 600% 600%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: gradient 5s ease infinite;
        color: #FFF;
        text-align: center;

    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}