.title {
  background: radial-gradient(circle, #2C1B71, #81329C ,#483690, #423185, #353DA6);
  background-size: 600% 600%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 5s ease infinite;
  color: #FFF;
  text-align: center;
  
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


body{
  background-color: black;
}