@import base/_colors
@import base/_fonts
@import views/_homepage
@import views/_registration
@import views/_talleres
@import layout/_header
@import layout/_footer
 
@tailwind base
@tailwind components
@tailwind utilities
// 
// html
  // @apply flex flex-col bg-gradient-to-tr from-amber-50 to-blue-50
    // font-family: 'Montserrat', sans-serif
// 
main
  display: flex
  flex-direction: column
  min-height: 100vh
  justify-content: center
  align-items: center


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield

.container_column
  display: flex
  flex-direction: column
  align-items: center

.background
  color: $main-font
  padding-top: 4rem
  min-height: 100vh
  background-color: $main-color
  z-index: 1
  &__shade
    filter: blur(80px)
