.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    gap: 5rem;
    border-radius: 1rem;
}

.card__metadata {
    max-width: 400px;
}

.card__metadata__title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.card__metadata__title p {
    padding-left: .5rem;
    font-style: italic;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.3rem;
}

.card__metadata__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.card__metadata__description p:last-child {
    font-weight: 100;
    font-style: italic;
}

.card__locationMetadata__colorful {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 3rem 1rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.63);

}

.card__locationMetadata__dark {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
    width: 100%;
    padding: 1rem;
    padding: 3rem 1rem;
    background: rgb(187, 195, 255);
    background: -moz-linear-gradient(128deg, rgba(187, 195, 255, 1) 0%, rgba(217, 220, 255, 1) 28%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(128deg, rgba(187, 195, 255, 1) 0%, rgba(217, 220, 255, 1) 28%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(128deg, rgba(187, 195, 255, 1) 0%, rgba(217, 220, 255, 1) 28%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbc3ff", endColorstr="#ffffff", GradientType=1);
}

.card__colorful {
    color: black;
    background: rgb(161, 172, 255);
    background: -moz-radial-gradient(circle, rgba(161, 172, 255, 1) 3%, rgba(255, 209, 255, 1) 25%, rgba(246, 142, 246, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(161, 172, 255, 1) 3%, rgba(255, 209, 255, 1) 25%, rgba(246, 142, 246, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: radial-gradient(circle, rgba(161, 172, 255, 1) 3%, rgba(255, 209, 255, 1) 25%, rgba(246, 142, 246, 1) 70%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1acff", endColorstr="#ffffff", GradientType=1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid white;
}



.divider {
    border-top: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media (min-width: 768px) {
    .card {
        flex-direction: row;
        padding: 5rem 10rem;
    }

    .card__dark {
        display: flex;
        flex-direction: row-reverse;
    }

    .card__metadata__title h1 {
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (max-width: 1000px) {
    .card {
        padding: 5rem;
    }

    .card__metadata__title h1 {
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .card {
        padding: 3rem 1rem;
    }

    .card__metadata__title h1 {
        font-size: 2rem;
        font-weight: 700;
    }
}